/* Personal Style */

/* Adds rounded corner to images */
img {
    border-radius: 15px;
}

/* Adds rounded corner and border around the article wrapper */
#wrapper {
    border-radius: 15px;
    border: solid 2px gray;
}

/* Change Navbar header bg and font */
#navbar-header {
    background-color: #f7f7f7;
    color: #4aaaa5;
}
    